html, body {
	min-height: 100%;
}
*{
	margin: 0;
	padding:0;
}
body {
	background-color: #f7f7fb;
	font-family: segoe ui;
	--color-primary: #0081C6;
	--color-grey: #f9f9f9;
	--color-dark: #000;
	--color-semidark: #9b9b9b;
	--shadow-color: rgba(0,129,198, .3);
	--basic-color: rgb(0, 123, 255);
	--basic-margin-left: 40px;
	--basic-margin-right: 53px;
	--basic-margin-top: 20px;
	--basic-width: 93%;
	overflow-x: hidden;
	transition: 0. 2s;
}
::-webkit-scrollbar{
	width: 10px;
}
::-webkit-scrollbar-track{
	background: #e0dfdf;

}
::-webkit-scrollbar-thumb{
	background-image:linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	border-radius: 50px;
}

header{
	width: 100%;
	height:70px;
	position: relative;
	background-color: white;
	border-bottom:1px solid #e8e8e8;
}
header .logo{
	margin-left: 40px;
	padding: 7px 12px 7px 12px;
	background-color: rgb(0, 123, 255);
	text-decoration: none;
	color:whitesmoke;
	border-radius: 3px;
	font-weight: bold;
	line-height: 70px;
}
header ul{
	float: right;
	margin-right: 40px;
}
header ul li{
	list-style: none;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 70px;
}
header ul li a{
	text-decoration: none;
	color:#666;
}
header  .nav-toggle{
	width: 65px;
	position: absolute;
	right: 0%;
	height: 65px;
	display: none;
	top: 33%;
	cursor: pointer;
}
header .nav-toggle div{
	box-sizing: border-box;
	cursor: pointer;
	font-size: 14px;
	font-style: normal;
	height: 1px;
	margin-top: 5px;
	width: 29px;
	border-radius: 3px;
	color: black;
	background-color: rgb(102, 126, 234);
}
.nav-2{
	width: 100%;
	height: 50px;
	border-bottom:1px solid #e8e8e8;
	background-color: white;
}


.container{
	width: 100%;
	height: auto;
	position: relative;
}
.waves-landing{
	width:100%;
	position: absolute;
	height: 300px;
	background-image:linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	top: 10.4%;
}
.breadcumb {
	margin-left: 40px;
	float: left;
}
.breadcumb li{
	display: inline-block;
	line-height: 50px;
}
.breadcumb li a{
	text-decoration: none;
	color: #6f6f6f;
	font-size: 18px;
}
.breadcumb-is-active{
	color: var(--basic-color) !important;
}
/*css for default.php*/
.container .welcome-notification{
	width: 100%;
	height: auto;
	text-align: center;
	padding-bottom: 50px;
}
.container .welcome-notification .title{
	font-size: 21px;
	margin-top: 40px;
	color:white;
}
.container .welcome-notification .btn-action{
	text-decoration:none;
	background-color: white;
	padding: 8px 15px 8px 15px;
	color:black;
	border-radius: 50px;
}

.container .welcome-notification .subtitle{
	color: var(--color-grey);
	margin-top: 10px;
}

.container .widget-overview{
	width: 100%;
	height: auto;
}
.container .widget-overview .box-widget{
	width: 26%;
	height: 300px;
	border-radius: 3px;
	background-color: white;
	float: left;
	margin-left: 40px;
	box-shadow: 0 4px 30px rgba(0,0,0,.05);
}

.container .widget-overview .box-widget .icon{
	width: 100%;
	height: auto;
	position: relative;
	text-align: center;
}
.container .widget-overview .box-widget .icon img{
	margin-top: 50px;
}
.container .widget-overview .box-widget .desc{
	text-align: center;
}
.container .widget-overview .box-widget .desc ul li{
	display: inline-block;
}
.container .widget-overview .box-widget .desc ul li a{
	text-decoration: none;
	font-size: 20px;
	color:#666;
}
.widget-user{
	width: 100%;
	height: auto;
	background-color: red;
}
.btn-view{

	background-color: rgb(0, 123, 255);
	color:white;
	padding: 9px 17px 9px 17px;
	text-decoration: none;
	border-radius: 3px;
	background-color: rgb(0, 123, 255);
	color:white;
	box-shadow: 0 4px 10px var(--shadow-color);
	padding: 9px 17px 9px 17px;
	text-decoration: none;
	border-radius: 3px;
}

.container .widget-overview .box-widget .icon .amount{
	background-color: rgb(0, 123, 255);
	color:whitesmoke;
	box-shadow: 0 4px 10px var(--shadow-color);
	width: 60px;
	line-height: 60px;
	height: 60px;
	border-radius: 50px;
	text-decoration: none;
	position: absolute;
	top: 13%;
	animation-name: shake;
	right: 10%;
	animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-direction: alternate;
}
.user-online{
	width: 39%;
	float: right;
	height: auto;
}
.user-online .caption{
	margin-left: 40px;
	 margin-top: 20px; 
	 margin-bottom: 20px;
}
.user-suggestion{
	width: 61%;
	float: left;
	height: auto;
}
.user-box-suggestion{
	width: 85%;
	margin-right: 3px;
	float: right;
	background-color: white;
	height: auto;
	box-shadow: 0 4px 30px rgba(0,0,0,.05);	
	border-radius: 3px;
}



.user-box-suggestion table{
	width: 100%;
	border-collapse: collapse;
}
.user-box-suggestion table thead tr td{
	background-color: #fbfbfb;
	padding: 10px 0px 10px 0px;
	color:var(--color-dark);
	text-align: center;
	font-size: 18px;
}
.user-box-suggestion table tbody{
	border-left: 2px solid var(--basic-color);
}
.user-box-suggestion table tbody tr td{
	text-align: center;
	padding: 20px 0px 20px 0px;
	font-size: 15px;
}
.user-box-suggestion table tbody tr td a{
	text-decoration: none;
	color:var(--color-grey);
	padding: 5px 20px 5px 20px;
	background-color: red;
	border-radius: 3px;
	box-shadow: 0 4px 30px rgba(0,0,0,.05);

}
.box-user-online{
	width: 63%;
	margin-left: 40px;
	background-color: white;
	box-shadow: 0 4px 30px rgba(0,0,0,.05);
	border-radius: 3px;
	height: auto;
	padding-bottom: 45px;
	float: left;
}
.box-user-online .user{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 52px;
}
.box-user-online .user .img-user{
	width: 23%;
	float: left;
	height: auto;
	text-align: center;
}
.box-user-online .user .img-user img{
	width: 50px;
	height: 50px;
	border-radius: 50px;
}
.box-user-online .user .desc-user{
	width: 73%;
	height: auto;
}
.box-user-online .user .desc-user p{
	line-height: 24px;
}
.box-user-online .user .desc-user .time{
	color:var(--color-semidark);
	font-size: 14px;
}
.box-header{
	width:100%;
	height: 45px;
}
.box-footer{	
	width:100%;
	height: 45px;
}
.box-header .search{
	width: 100%;
	float: left;
	margin-top:10px;
	margin-left:15px;
	position: relative;
}
.box-header .search input[type=text]{
	width: 15%;
	border-radius: 30px;
	height: 25px;
	border:1px solid #f2f2f2;
	padding-left: 35px;
	font-family: segoe ui;
	transition:0.2s;
}
.box-header .search input[type=text]:focus{
	width:80%;
}
.box-header .search i{
	position: absolute;
	left:1%;
	color:#dedede;
	top:17%;
}
@keyframes shake {
  from {
	transform: translateY(-5px);
  }
  to {
	transform: translateY(0px);

  }
}
/*end css for default.php*/
/* css for user.php*/
 .notification{
	width: var(--basic-width);
	height: 60px;
	margin-top: var(--basic-margin-top);
	margin-left: var(--basic-margin-left);
	background-image:linear-gradient(135deg, rgb(102, 126, 234) 0%, rgb(118, 75, 162) 100%);
	border-radius: 3px;
	box-shadow: var(--shadow-color);
}
.notification p{
	line-height: 60px;
	margin-left: var(--basic-margin-left);
	color: var(--color-grey);
}

.btn-add-new{
	text-decoration: none;
	background-color: rgb(0, 123, 255);
	color:var(--color-grey) !important;
	padding: 5px 12px 5px 12px;
	border-radius: 3px;
	margin-right: 50px;
	background-image:linear-gradient(135deg, rgb(102, 126, 234) 0%, rgb(118, 75, 162) 100%);
	box-shadow:rgba(102, 126, 234, 0.4) 0px 4px 15px 0px;
	float: right;
	border-radius: 50px;
	margin-top:10px;
	
}
.box-table{
	width: 93%;
	height: auto;
	background-color: white;
	margin-left: var(--basic-margin-left);
	margin-top: var(--basic-margin-top);
	box-shadow: var(--shadow-color);
	border:1px solid #e8e8e8;
	border-radius: 3px;
}
.box-table .header{
	width: 100%;
	height: 45px;
}
.box-table .footer{
	width: 100%;
	height: 45px;
}
.box-table table{
	width: 100%;
	border-collapse: collapse;
}
.box-table table thead tr td{
	background-color: #fbfbfb;
	padding: 10px 0px 10px 0px;
	color:var(--color-dark);
	text-align: center;
	font-size: 18px;
}
.box-table table tbody{
	border-left: 2px solid var(--basic-color);
}
.box-table table tbody tr td{
	text-align: center;
	padding: 20px 0px 20px 0px;
	font-size: 15px;
}
.box-table table tbody tr td a{
	text-decoration: none;
	color:var(--color-grey);
	padding: 5px 20px 5px 20px;
	background-color: var(--basic-color);
	border-radius: 3px;
	box-shadow: 0 4px 30px rgba(0,0,0,.05);
}

 .box-form{
	width: 93%;
	height: auto;
	background-color: white;
	margin-left: var(--basic-margin-left);
	margin-top: var(--basic-margin-top);
	border:1px solid #f2f2f2;
	box-shadow: var(--shadow-color);
	border-radius: 3px;
}
.box-form .header{
	width: 100%;
	height: 45px;
}
 .box-form .footer{
	width: 100%;
	height: 45px;
}
.box-form .form-group{
	width: 100%;
	box-sizing: border-box;
	padding-left: 40px;
}
.box-form .form-group:not(:last-child){
	margin-top: 20px;
}
.box-form .form-group input[type=text]{
	width: 93%;
	margin-top: 10px;
	font-size: 14px;
	padding: 0 18px;
	box-shadow: none;
	border-radius: 0;
	height: 45px;
	color: var(--color-dark);
	border: 1px solid #e8e8e8;
	outline:none;
	border-radius: 3px;
}
.box-form .form-group input[type=date]{
	width: 93%;
	margin-top: 10px;
	font-size: 14px;
	padding: 0 18px;
	box-shadow: none;
	border-radius: 0;
	height: 45px;
	color: var(--color-dark);
	border: 1px solid #e8e8e8;
	outline:none;
	border-radius: 3px;
}
.box-form .form-group input[type=password]{
	width: 93%;
	margin-top: 10px;
	font-size: 14px;
	padding: 0 18px;
	box-shadow: none;
	border-radius: 0;
	height: 45px;
	color: var(--color-dark);
	border: 1px solid #e8e8e8;
	outline:none;
	border-radius: 3px;
}
.box-form .form-group textarea{
	width: 93%;
	margin-top: 10px;
	font-size: 14px;
	padding: 0 18px;
	box-shadow: none;
	border-radius: 0;
	height: 45px;
	color: var(--color-dark);
	border: none;
	resize: none;
	padding-top: 10px;
	height: 200px;
	border: 1px solid #e8e8e8;
	outline:none;
	border-radius: 3px;
	
}
.box-form .form-group select{
	width: 96%;
	margin-top: 10px;
	font-size: 14px;
	padding: 10px  18px 10px 18px;
	box-shadow: none;
	border-radius: 0;
	color: var(--color-dark);
	resize: none;
	border: 1px solid #e8e8e8;
	outline:none;
	border-radius: 3px;
}
.box-form .form-group .btn-save{
	background-color: rgb(0, 123, 255);
	color:var(--color-grey);
	padding: 7px 40px 7px 40px;
	border-radius: 3px;
	box-shadow: 0 4px 10px var(--shadow-color);
	border:transparent;
	font-size: 17px;
	font-family: segoe ui;
	cursor: pointer;
}
.btn-leaderboard{
	float: right;
	margin-right: 40px;
	margin-top: 20px;
}
.btn-leaderboard li{
	float: left;
	padding:10px 20px 10px 20px;
	list-style: none;
	background-color: rgb(242, 242, 242);

}

.btn-leaderboard li a{
	text-decoration: none;
	color: black;
	font-size: 16px;
}
/* RESPONSIVE WEBSITE */
@media screen and (max-width: 720px){
	.waves-landing{
		display: none;
	}
	.nav-toggle{
		display: block !important;
		position: absolute;
		top: 0%;
	}
	header ul{
		border-top:1px solid rgba(0,0,0,0.1);
		width: 100%;
		padding-bottom: 10px;
		background: white;
		border-bottom:1px solid rgba(0,0,0,0.1);
		z-index: 99999999;
		margin-right: 0px;
		position: relative;
	}
	header ul li{
		line-height: 40px;
		width: 100% ;
		text-align: center;
	}
	.welcome-notification .title{
		width: 99%;
	}
	.welcome-notification .subtitle{
		width: 99%;
	} 
	.welcome-notification .btn-action{
		background-image:linear-gradient(135deg, rgb(102, 126, 234) 0%, rgb(118, 75, 162) 100%);
		color:whitesmoke !important;
	}
	.body-box-widget{
		margin-left: 0px !important;
		overflow: hidden;
		padding: 0px 15px 0px 15px;
	}
	.body-box-widget .box-widget{
		width: 100% !important;
		margin-left: 0px !important;
		margin-top: 10px;
	}

	.box-table{
		overflow-x:scroll;
		width: 80%;
	}
	.box-table table thead tr td{
		font-size: 16px;
	}
	.box-table table tbody{
		border-left: 2px solid var(--basic-color);
	}
	.box-table table tbody tr td{
		text-align: center;
		padding: 20px 0px 20px 0px;
		font-size: 13px;
	}
	.box-table table tbody tr td a{
		text-decoration: none;
		color:var(--color-grey);
		padding: 5px 20px 5px 20px;
		background-color: var(--basic-color);
		border-radius: 3px;
		box-shadow: 0 4px 30px rgba(0,0,0,.05);
		font-size: 14px;
	}
	.container .welcome-notification .title{
		font-size: 21px;
		margin-top: 40px;
		color:black;
	}
	.container .welcome-notification .subtitle{
		color: var(--color-dark);
		margin-top: 10px;
	}
	.user-online{
		width:100%;
		float: left;
	}
	.box-user-online{
		width:94%;
		margin-left: 10px;
	}

	.user-suggestion{
		width:100%;
		float: left;
	}
	.user-suggestion .user-box-suggestion{
		width:94%;
		float: left;
		margin-left:10px;
	}
	.user-suggestion p{
		margin-left:10px !important;
		text-align: center;
	}
	.user-online .caption{
		margin-left:10px !important;
		text-align: center;
	}
}
